.tbox{
    overflow: auto;
}
.userdetail{
    background-image:url("./userdetailbackground.jpg");
    background-size: cover;
}
.tbox{
    overflow: auto;
}
.userdetail{
    background-image:url("./userdetailbackground.jpg");
    background-size: cover;
}