.profileid{
   font-weight: bold; 
   background-image:url("./profile1.jpg");
   background-size:contain;
   height:400px;
}
.logo{
    background-image: linear-gradient(green,red);
}
.profiledetails{
    background-color: blueviolet;
    color:white;
}
